
@{
    ViewBag.Title = "Erro de Acesso";
}

<h2>Lamentamos...</h2>


<p>A página que você tentou acessar ou não existe ou então você não possui acesso!!!</p>

<p>Possíveis soluções</p>
<ul style="list-style-type: disc" class="error-letra">
    <li>Sessão expirada: por favor, logue novamente;</li>
    <li>Cache e cookies: aperte Ctrl + F5 no seu teclado para limpar os arquivos de cookies;</li>
</ul>

<br />
<br />
<p>O erro persiste mesmo após os passos anteriores?</p>
<ul>
    <li>Não se preocupe, estamos trabalhando para corrigir este problema;</li>
    <li>Temos uma equipe que analisa diáriamente os logs do servidor e resolverão este problema.</li>
</ul>


<div class="bug-oito-mil">
    <img width="50%" height="50%" src="~/Imagens/8mil.jpg" />
</div>