
@{
    ViewBag.Title = "Error";
}

<h2>Opsss...</h2>

<div>

    <p>A página que tentou acessar não existe...</p>
    <p>Favor não digitar links para não cair novamente neste erro.</p>
</div>

<div class="error-do-usuario">
    <img src="~/Imagens/não.jpg"/>
</div>